In [2]:
#What is the value of the expression 6 * (7 + 9) in Python?
6 * (7+9)

96

In [4]:
#What is the value of the expression 6 * 7 + 9 in Python?
6 * 7 + 9

51

In [6]:
#How can you convert an integer to a floating-point number?
i = 10
type(i)

int

In [8]:
i = float(i)
type(i)

float

In [10]:
#How might you convert an octal, hexadecimal, or binary string to a plain integer and vice-versa?
i = int(i) #change i to into from float
type(i) # datatype for i

int

In [25]:
oct_i = oct(i)
print(oct_i) #print octal value of i - int to octal

0o12

In [27]:
hex_i = hex(i)
print(hex_i) #print hex value of i - int to hex

0xa

In [29]:
bin_i = bin(i)
print(bin_i) #print bin value of i -- int to binary

0b1010

In [31]:
print(int(bin_i,2)) #print int of bin convert bin to int

10

In [40]:
print(int(oct_i,8)) #print int of oct - convert octal to int

10

In [42]:
print(int(hex_i,16)) #print int of hex - convert hex to int

10

In [44]:
#How can you truncate and round a floating-point number?
f = 10.688
type(f)

float

In [46]:
print(round(f,2))

10.69

In [48]:
print(round(f,3))

10.688

In [50]:
print(round(f))

11

In [102]:
# Basic List Operations - sample list
cities = ['Boston','Cambridge','Watertown','Newton','Belmont'] # list of cities
print(cities)

['Boston', 'Cambridge', 'Watertown', 'Newton', 'Belmont']

In [57]:
len(cities) #length of cities

5

In [59]:
cities[1] # indexing and slicing of a list

'Cambridge'

In [63]:
cities[0:2]

['Boston', 'Cambridge']

In [68]:
cities[:2]

['Boston', 'Cambridge']

In [67]:
cities[-1] # prints last element of a list

'Belmont'

In [103]:
#extend the list 
cities.extend(['Lexington','Somerville','Waltham'])
cities

['Boston',
 'Cambridge',
 'Watertown',
 'Newton',
 'Belmont',
 'Lexington',
 'Somerville',
 'Waltham']

In [105]:
#cities.remove('Lexington') # remove the item in the list 
#del cities #delete the complete list

In [109]:
print(cities[0:4:1]) #indexing by jumps

['Boston', 'Cambridge', 'Watertown', 'Newton']

In [111]:
print(cities[0:8:2])

['Boston', 'Watertown', 'Belmont', 'Somerville']

In [118]:
cities.extend(['Arlington']) #extend adds an item to the list

In [120]:
cities

['Boston',
 'Cambridge',
 'Watertown',
 'Newton',
 'Belmont',
 'Lexington',
 'Somerville',
 'Waltham',
 'Arlington']

In [121]:
cities.append(['d','e','f']) #append adds the list to the list as item
cities

['Boston',
 'Cambridge',
 'Watertown',
 'Newton',
 'Belmont',
 'Lexington',
 'Somerville',
 'Waltham',
 'Arlington',
 ['d', 'e', 'f']]